h1, h2, h3 {
    text-align: center;
}

main {
    width: 100%;
    text-align: center;
}

main div {
    display: inline-block;
    width: 725px;
}

main div .GameGrid {
    display: grid;
    grid-template-columns: repeat(16, auto);
}

main div .GameGrid div {
    width: 40px;
    height: 40px;
    margin: 2px 0;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
